
.navegacion{
  width: 105.3%;
  height: 60px;
}

.b{
  color: purple;
  font-size: 40px;
  font-weight: bold;
}
.n{
  width: 105.2%;
  position: fixed;
}
.video{
  text-align: center;
  padding: 10%;
}
h4{
  color:skyblue;
  font-weight: bold;
  
}
.cont{
  padding: 5%;
}




body {
  background-image: url("img/boxing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 95%;
  text-align: center;

}


.blog-card {
  width: 300px;
  height: 300px;
  position: relative;
  display: inline-block;
  /*margin: -250px 0 0 -175px;*/
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  text-align: center; 
}
.img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center ;
  margin-right: 50px;
  border-radius: 10px;
  width: 300px;
  height: 300px;
}


.blog-card .color-overlay {
  /* Rectangle 11: */
  background: rgba(84, 104, 110, 0.4);
  width: 300px;
  height: 450px;
  position: absolute;
  z-index: 10;
 
 
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
  
}
.blog-card .gradient-overlay {
  /* bg-gradient: */
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 21%);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 21%);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 21%);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 21%);
  width: 350px;
  height: 500px;
  position: absolute;
  top: 350px;
  left: 0;
  z-index: 15;
 
}
.blog-card:hover .card-info {
  opacity: 1;
  bottom: 120px;
 
}
.blog-card:hover .color-overlay {
  background: rgba(84, 104, 110, 0.8);
 
}

.title-content {
  text-align: center;
  margin: 70px 0 0 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
  
}

h3 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  color: skyblue;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0;
}

hr {
  width: 50px;
  height: 3px;
  margin: 20px auto;
  border: 0;
  background: #D0BB57;
}

.intro {
  width: 200px;
  margin: 0 auto;
  color: #DCE3E7;
  font-family: 'Droid Serif', serif;
  font-size: 13px;
  font-style: italic;
  line-height: 18px;
  
}

.card-info {
  width: 100%;
  position: absolute;
  bottom: 100px;
  left: 0;
  margin: 0 auto;
  padding: 0 50px;
  color: black;
  font-family: 'Droid Serif', serif;
  font-style: 20px;
  line-height: 24px;
  font-weight: bolder;
  z-index: 50;
  opacity: 0;
  transition: bottom 0.3s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
 
}

.utility-info {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 20;
}

.utility-list {
  list-style-type: none;
  margin: 0 0 30px 20px;
  padding: 0;
  width: 100%;
}
.utility-list li {
  margin: 0 15px 0 0;
  padding: 0 0 0 22px;
  display: inline-block;
  color: #DCE3E7;
  font-family: 'Roboto', sans-serif;
 
}

.utility-list li.date {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1765/icon-calendar.svg) no-repeat 0 0.1em;
}

#video{
text-align: center;
padding: 200px;


}
iframe {
  margin: 2em;
 
  width: 40%!important;
}

.cartasBox{
  display: inline-block;
    
}
#cartas{
  cursor: pointer;
}
#clasificaciones{
  cursor: pointer;
}
#logout{
  cursor: pointer;
}
#boxing{
  cursor: pointer;
}
#crear{
  cursor: pointer;
}
.pesos{
  cursor: pointer;
}
th {
  color:blue;
  font-weight: bold;
  font-size: 22px;
  
}
td {
  color:black;
  font-weight: bold;
  font-size: 18px;
}
.table{
  background-color: grey;
  width: 800px;
  margin-left: 13%;
  margin-top: 3%;
  border:solid 5px black;
  border-radius:30px;
}
#obtener{
  width: 100px;
}
h1{
  background-color:blue;
  color:white;
  font-weight: bold;
  width: 800px;
  margin-left: 13%;
  border-radius:30px;
}
.crear{
  text-align: center;
  margin-top: 10%;
}
.user{
  background-color:white;
}

.datos{
  text-align: center;
  color: purple;
  font-weight: bold;
  font-size: 40px;
  text-decoration: underline  dotted blue;
 
}
.datos1{
  padding-top:15%;
  text-align: center;
  color: #DCE3E7;
  font-weight: bold;
  font-size: 40px;
  text-decoration: underline  dotted blue;
 
  
}
